alexa_actionable_notifications
[{"id":"8c753717.876d78","type":"tab","label":"alexa","disabled":false,"info":""},{"id":"1c10a9bb.3ee386","type":"api-call-service","z":"8c753717.876d78","d":true,"name":"Alexa Act Notify ","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" kitchen lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"kitchen\",\"alexa_device\":\"media_player.kitchen_echo_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":20,"wires":[[]]},{"id":"cf96933d.cd959","type":"api-current-state","z":"8c753717.876d78","d":true,"name":"kitchen daytime","server":"ceea5ac5.1b1658","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":80,"wires":[["93c49824.3b9cb8"],[]]},{"id":"bcbb70de.bd8be","type":"inject","z":"8c753717.876d78","d":true,"name":"daytime","props":[{"p":"payload"}],"repeat":"","crontab":"*/30 8-16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":100,"y":20,"wires":[["cf96933d.cd959"]]},{"id":"c9cb5776.034ef8","type":"api-call-service","z":"8c753717.876d78","name":"kitchen off","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":602,"wires":[[]]},{"id":"e8e6513b.43b1e","type":"switch","z":"8c753717.876d78","name":"Notification Response","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":602,"wires":[["c9cb5776.034ef8"],[],["c9cb5776.034ef8"]]},{"id":"935da565.4e0958","type":"switch","z":"8c753717.876d78","name":"Event ID LIST","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"kitchen","vt":"str"},{"t":"eq","v":"barbbed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":379,"y":602,"wires":[["e8e6513b.43b1e"],["bc2dec9.243d31"]]},{"id":"ef68ab29.b75c68","type":"server-events","z":"8c753717.876d78","name":"Alexa Notification Response","server":"ceea5ac5.1b1658","event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":602,"wires":[["935da565.4e0958"]]},{"id":"93c49824.3b9cb8","type":"api-call-service","z":"8c753717.876d78","d":true,"name":"kitchen moms room","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" kitchen lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"kitchen\",\"alexa_device\":\"media_player.moms_room_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":80,"wires":[["1c10a9bb.3ee386"]]},{"id":"f6a6d641.f595d8","type":"api-call-service","z":"8c753717.876d78","name":"barbs light off","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.our_bedroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":682,"wires":[[]]},{"id":"808dfef1.62413","type":"server-state-changed","z":"8c753717.876d78","name":"kitchen on","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kitchen_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":220,"wires":[["9796b695.b6ee88"],[]]},{"id":"9796b695.b6ee88","type":"trigger","z":"8c753717.876d78","name":"on for  30 minutes","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"30","extend":true,"units":"min","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":150,"y":280,"wires":[["bb42c358.f7be6"]]},{"id":"bb42c358.f7be6","type":"time-range-switch","z":"8c753717.876d78","name":"daytime","lat":"37.212537","lon":"-119.681740","startTime":"goldenHourEnd","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":300,"y":200,"wires":[["4358ad32.8a99e4"],[]]},{"id":"e4ea9b90.990598","type":"comment","z":"8c753717.876d78","name":"another way to trigger at a time of day and for how long on. ","info":"","x":250,"y":160,"wires":[]},{"id":"8badd5a8.7f9738","type":"comment","z":"8c753717.876d78","name":"trigger node. if light is turned off and back on again the delay will reset","info":"","x":270,"y":320,"wires":[]},{"id":"4358ad32.8a99e4","type":"api-call-service","z":"8c753717.876d78","name":"Alexa kitchen notification","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" kitchen lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"kitchen\",\"alexa_device\":\"media_player.kitchen_echo_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":200,"wires":[["336541eb.220cfe"]]},{"id":"336541eb.220cfe","type":"api-call-service","z":"8c753717.876d78","name":"alexa in moms room","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" kitchen lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"kitchen\",\"alexa_device\":\"media_player.moms_room_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":260,"wires":[[]]},{"id":"bc2dec9.243d31","type":"switch","z":"8c753717.876d78","name":"Notification Response","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":682,"wires":[["f6a6d641.f595d8"],[],["f6a6d641.f595d8"]]},{"id":"b2cbbcf7.22636","type":"server-state-changed","z":"8c753717.876d78","name":"bedroom on","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.our_bedroom_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["14354da7.712c12"],[]]},{"id":"14354da7.712c12","type":"trigger","z":"8c753717.876d78","name":"on for  30 minutes","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"30","extend":true,"units":"min","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":150,"y":460,"wires":[["b997663f.19f0b8"]]},{"id":"b997663f.19f0b8","type":"time-range-switch","z":"8c753717.876d78","name":"daytime","lat":"37.212537","lon":"-119.681740","startTime":"goldenHourEnd","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":300,"y":380,"wires":[["cfca7cc5.0038c"],[]]},{"id":"cfca7cc5.0038c","type":"api-call-service","z":"8c753717.876d78","name":"Alexa Act Notify barbs bed","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" barbs bedroom lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"barbbed\",\"alexa_device\":\"media_player.kitchen_echo_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":380,"wires":[["7e1d1211.024acc"]]},{"id":"7e1d1211.024acc","type":"api-call-service","z":"8c753717.876d78","name":"kitchen moms room","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\" kitchen lights are on for 30 minutes. Would you like me to shut it off?\",\"event_id\":\"kitchen\",\"alexa_device\":\"media_player.moms_room_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":440,"wires":[[]]},{"id":"6f2c2fc4.bf712","type":"comment","z":"8c753717.876d78","name":"below is action that alexa takes ","info":"","x":470,"y":540,"wires":[]},{"id":"bd4cb245.94fc3","type":"comment","z":"8c753717.876d78","name":"list of events IDs to flow to devices","info":"","x":340,"y":660,"wires":[]},{"id":"ceea5ac5.1b1658","type":"server","z":"","name":"Home Assistant","addon":true}]
