alexa_actionalble_notifications
[{"id":"5f4f9583.ff63ac","type":"tab","label":"alexa","disabled":false,"info":""},{"id":"88be0386.88a5","type":"api-call-service","z":"5f4f9583.ff63ac","name":"Alexa Act Notify ","server":"c70028c6.b5cd08","version":1,"debugenabled":true,"service_domain":"script","service":"activate_alexa_actionable_notification","entityId":"","data":"{\"text\":\"Its almost bedtime and kitchen lights are on. Would you like me to shut it off?\",\"event_id\":\"actionable_notification_kitchen_light\",\"alexa_device\":\"media_player.rod_s_echo_dot\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":446,"y":137,"wires":[[]]},{"id":"ead440ed.3b4a2","type":"api-current-state","z":"5f4f9583.ff63ac","name":"kitchen light on after 9","server":"c70028c6.b5cd08","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":246,"y":117,"wires":[["88be0386.88a5"],[]]},{"id":"91459de6.ce996","type":"inject","z":"5f4f9583.ff63ac","name":"after 9","props":[{"p":"payload"}],"repeat":"","crontab":"*/10 21-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":114,"y":57,"wires":[["69e06e80.fb699"]]},{"id":"75a04a1c.edb5a4","type":"api-call-service","z":"5f4f9583.ff63ac","name":"shut off kitchen lights","server":"c70028c6.b5cd08","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_light, switch.sink","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":444,"wires":[[]]},{"id":"83854ccf.3e4d6","type":"switch","z":"5f4f9583.ff63ac","name":"Notification Response","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":572,"y":348,"wires":[["4c9cd254.7ae9cc"],[],["4c9cd254.7ae9cc"]]},{"id":"56d6fe7.8ab69","type":"switch","z":"5f4f9583.ff63ac","name":"Event ID LIST","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"actionable_notification_kitchen_light","vt":"str"},{"t":"eq","v":"lamp","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":365,"y":348,"wires":[["83854ccf.3e4d6"],["83854ccf.3e4d6"]]},{"id":"5fd921b3.02aab","type":"server-events","z":"5f4f9583.ff63ac","name":"Alexa Notification Response","server":"c70028c6.b5cd08","event_type":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":126,"y":348,"wires":[["56d6fe7.8ab69"]]},{"id":"69e06e80.fb699","type":"api-current-state","z":"5f4f9583.ff63ac","name":"anyone home?","server":"c70028c6.b5cd08","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":274,"y":57,"wires":[["4dcc9ec1.815ef"],[]]},{"id":"859c4713.5d9168","type":"link in","z":"5f4f9583.ff63ac","name":"yes in","links":["4c9cd254.7ae9cc"],"x":395,"y":444,"wires":[["75a04a1c.edb5a4"]],"icon":"node-red/light.svg"},{"id":"4c9cd254.7ae9cc","type":"link out","z":"5f4f9583.ff63ac","name":"yes out","links":["859c4713.5d9168"],"x":775,"y":354,"wires":[],"icon":"node-red/light.svg"},{"id":"4dcc9ec1.815ef","type":"link out","z":"5f4f9583.ff63ac","name":"9pm to midnight in","links":["39c25713.564a98","98ece32a.dab78"],"x":414,"y":51,"wires":[]},{"id":"39c25713.564a98","type":"link in","z":"5f4f9583.ff63ac","name":"9pm to midnight out","links":["4dcc9ec1.815ef"],"x":35,"y":157,"wires":[["ead440ed.3b4a2","c5c588e8.772ca8"]]},{"id":"c5c588e8.772ca8","type":"api-current-state","z":"5f4f9583.ff63ac","name":"link light on after 9","server":"c70028c6.b5cd08","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sink","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":177,"wires":[["88be0386.88a5"],[]]},{"id":"c70028c6.b5cd08","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
