alexa\google calendar anounce
[{"id":"7ede9e95.ddc03","type":"tab","label":"google calendar alexa/google anounce","disabled":false,"info":""},{"id":"58182af2.3cda04","type":"debug","z":"7ede9e95.ddc03","name":"extract atrabutes with debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":210,"wires":[]},{"id":"61688350.cb158c","type":"api-call-service","z":"7ede9e95.ddc03","name":"Google say","server":"c70028c6.b5cd08","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.master_bedroom_speaker","data":"{\"message\":\"Cole its time for {{data.new_state.attributes.message}}\",\"language\":\"en\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":467,"y":250,"wires":[[]]},{"id":"ac942f2b.37348","type":"server-state-changed","z":"7ede9e95.ddc03","name":"cole calendar","server":"c70028c6.b5cd08","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"calendar.cole_school_schedule","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":210,"wires":[["58182af2.3cda04","2a11db48.9cd5d4"],[]]},{"id":"2a11db48.9cd5d4","type":"switch","z":"7ede9e95.ddc03","name":"meeting filter","property":"data.new_state.attributes.message","propertyType":"msg","rules":[{"t":"cont","v":"English","vt":"str"},{"t":"cont","v":"PE","vt":"str"},{"t":"cont","v":"Science","vt":"str"},{"t":"cont","v":"Math","vt":"str"},{"t":"cont","v":"history","vt":"str"},{"t":"cont","v":"test","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":120,"y":310,"wires":[["d59365.b9c17c98"],["d59365.b9c17c98"],["d59365.b9c17c98"],["d59365.b9c17c98"],["d59365.b9c17c98"],["d59365.b9c17c98"]]},{"id":"fe585c9b.ab6f","type":"api-call-service","z":"7ede9e95.ddc03","name":"alexa say ","server":"c70028c6.b5cd08","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_rod_s_echo_dot","entityId":"","data":"{\"message\":\"Cole its time for {{data.new_state.attributes.message}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":310,"wires":[[]]},{"id":"5a5575d8.27599c","type":"link in","z":"7ede9e95.ddc03","name":"cole meeting filter in","links":["d59365.b9c17c98"],"x":349,"y":279,"wires":[["fe585c9b.ab6f"]],"icon":"font-awesome/fa-calendar"},{"id":"d59365.b9c17c98","type":"link out","z":"7ede9e95.ddc03","name":"cole meeing filter out","links":["5a5575d8.27599c"],"x":265,"y":310,"wires":[],"icon":"font-awesome/fa-calculator"},{"id":"5dd873e.39d608c","type":"comment","z":"7ede9e95.ddc03","name":"open comments for more details ","info":"","x":135,"y":158,"wires":[]},{"id":"33213e18.20f5f2","type":"comment","z":"7ede9e95.ddc03","name":"click here to see how to find atrabutes to fill in data field.","info":"to find what you need to put in call of service node google say data message to pull current value of intity attrubute you want in your **message. {{data.new_state.attributes.message}}**\n\ngo to debug window click on errow next to opject\nthen\nerrow next to data \nrepet the drill down untill you get to attributes.\n\nobject\ntopic: \"calendar.cole_school_schedule\"\npayload: \"on\"\ndata: object\nentity_id: \"calendar.cole_school_schedule\"\nold_state: object\nnew_state: object\nentity_id: \"calendar.cole_school_schedule\"\nstate: \"on\"\nattributes: object\n**message: \"test this is test number two\"**\n\nThen mouse over the attribute you want to use and select the first box **(copy path)**\nthen you can paste that between the\nbrackets {{ }} \nlike this\n{{data.new_state.attributes.message}}\nin the data of the call of service node\n\nfor alexa this is what you put in the Json data if you are extracting from this data.\n{\"message\":\"Cole its time for{{data.new_state.attributes.message}}\",\"data\":{\"type\":\"tts\"}}\n","x":485,"y":158,"wires":[]},{"id":"4f0f2293.c0106c","type":"comment","z":"7ede9e95.ddc03","name":" filter the calendar event Click for more info","info":"pick a unique key word from the event title or distripton. \nmake sure you change the Property to the data field you want it to look at by checking with debug node. ","x":165,"y":398,"wires":[]},{"id":"365087bd.23c118","type":"comment","z":"7ede9e95.ddc03","name":"alexa and google anounce a calendar event. only when filtered events happen using key words","info":"I made this to help my son remember to log into each class at his scheduled times for Distant learning.\nThanks to COVID shut down.","x":320,"y":20,"wires":[]},{"id":"e8cd501b.41558","type":"comment","z":"7ede9e95.ddc03","name":"This flow was to remind my son to log into his scheduled classes online","info":"","x":250,"y":60,"wires":[]},{"id":"74ccad14.251714","type":"api-call-service","z":"7ede9e95.ddc03","name":"alexa say at moms house","server":"c70028c6.b5cd08","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_coles_at_moms","entityId":"","data":"{\"message\":\"Cole its time for{{data.new_state.attributes.message}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":490,"y":460,"wires":[[]]},{"id":"d895c360.113d8","type":"comment","z":"7ede9e95.ddc03","name":"shared linked amazon accounts can play alexa at moms house. ","info":"","x":490,"y":500,"wires":[]},{"id":"c70028c6.b5cd08","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
