alexa_goodnight_message
[{"id":"8d2aaf5.5a2ab5","type":"function","z":"415d010c.3c78","name":"","func":"msg.payload =\n\n\"Good night Barbara your phone is \"+\n\"{{states.sensor.sm_g973u_battery_state.state}}\"+ \", \" +\n\n\"The battery is \"+\n\"{{states.sensor.sm_g973u_battery_level.state}} percent\"+ \", \" +\n\n\"pellet hopper is \"+\n\"{{states.sensor.pellet_level_in_percent.state}} percent\"+ \", \" +\n\n\"front of house lights are \"+\n\"{{states.group.living_room_lights.state}} \"+ \", \" +\n\n\"tomorrows weather will be \"+\n\"{{states.weather.barb_s_place_2.state}}\"+ \", \" +\n\n\"chance of thunder storm \"+\n\"{{states.sensor.barb_s_place_thunderstorm_probability_day_1d.state}}Percent \"+ \", \" +\n\n\"have a good night, sleep well \"\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":880,"wires":[["891ce502.d911d8"]]},{"id":"891ce502.d911d8","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_moms_room_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":480,"y":880,"wires":[[]]},{"id":"1ea3a168.a0d59f","type":"server-state-changed","z":"415d010c.3c78","name":"tv off","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bed_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":820,"wires":[["5c404fc.71473b"],[]]},{"id":"5c404fc.71473b","type":"time-range-switch","z":"415d010c.3c78","name":"","lat":"","lon":"","startTime":"22:30","endTime":"01:30","startOffset":0,"endOffset":0,"x":130,"y":900,"wires":[["8d2aaf5.5a2ab5"],[]]},{"id":"ceea5ac5.1b1658","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
