alexa announcements flows.json
[{"id":"415d010c.3c78","type":"tab","label":"TV time and other alexa annoucements","disabled":false,"info":""},{"id":"9c6779fa.fea118","type":"server-state-changed","z":"415d010c.3c78","name":"dinner time","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dinner_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1280,"wires":[["f31fdf11.9dea5","90eab813.695798","79fb9ff7.4ea78"],[]]},{"id":"f31fdf11.9dea5","type":"api-call-service","z":"415d010c.3c78","name":"dinning light","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dining_room_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":1340,"wires":[[]]},{"id":"90eab813.695798","type":"api-call-service","z":"415d010c.3c78","name":"turn off cooler","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.cooler","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":1280,"wires":[["b1434a5e.c172d8"]]},{"id":"79fb9ff7.4ea78","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":1360,"wires":[["be657535.727708","7334fd77.cd7ae4"]]},{"id":"50dc12e8.445a3c","type":"api-call-service","z":"415d010c.3c78","name":"turn off input","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dinner_time","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1360,"wires":[[]]},{"id":"b1434a5e.c172d8","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":1280,"wires":[["50dc12e8.445a3c"]]},{"id":"7334fd77.cd7ae4","type":"api-call-service","z":"415d010c.3c78","name":"alexa say reese","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_reese_s_echo_dot","entityId":"","data":"{\"message\":\"Dinner is ready, come and get it, Dinner time\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":340,"y":1400,"wires":[[]]},{"id":"be657535.727708","type":"api-call-service","z":"415d010c.3c78","name":"alexa say moms ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"Dinner is ready, come and get it, Dinner time\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":180,"y":1460,"wires":[[]]},{"id":"94e160d6.01277","type":"server-state-changed","z":"415d010c.3c78","d":true,"name":"chromecast playing ","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing ","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":710,"y":3720,"wires":[["a1de465a.75fcc8"],[]]},{"id":"fb803608.e2fc18","type":"api-call-service","z":"415d010c.3c78","name":"turn on tv time","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.tv_time","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":3740,"wires":[["cff77906.1bb6c8"]]},{"id":"a1de465a.75fcc8","type":"time-range-switch","z":"415d010c.3c78","name":"","lat":"","lon":"","startTime":"18:30","endTime":"00:00","startOffset":0,"endOffset":0,"x":790,"y":3800,"wires":[["fb803608.e2fc18"],[]]},{"id":"c96701ae.1ac52","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_moms_room_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1240,"y":3720,"wires":[[]]},{"id":"cff77906.1bb6c8","type":"function","z":"415d010c.3c78","name":"Random love notes","func":"var line1 = [\"Heya sexxy, \", \"Oh wow, \", \"Barbie doll, \", \"howdy-do, \"]\nvar line2 = [\n        \"Your stud muffin \", \"your Lover \", \"Your sexxy guy \", \"That guy \", \"Mr wonderful \"\n        ]\nvar line3 = [\n        \"wanted you to know  \",\n        \"Asked me to tell you  \",\n        \"Told me to pass along to you  \",\n        \"Ordered me to tell you  \",\n        \"Shared with me  \"\n        ]\nvar line4 = [\n        \"that he loves you, \", \"that he has the hots for you, \", \" that He only has eyes for you, \", \" that You are a sexxy woman , \"\n        ]\nvar line5 = [\n        \"Enjoy the show.\", \"Have fun with netflix and chill.\", \"Dont forget to brush your teeth.\", \"I know, I am annoying \"\n        ]\n\nmsg.payload =\n\nline1[Math.floor(Math.random() * line1.length)]+\nline2[Math.floor(Math.random() * line2.length)]+\nline3[Math.floor(Math.random() * line3.length)]+\nline4[Math.floor(Math.random() * line4.length)]+\nline5[Math.floor(Math.random() * line5.length)]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":3820,"wires":[["c96701ae.1ac52"]]},{"id":"a521e572.1ca5b8","type":"function","z":"415d010c.3c78","name":"","func":"msg.payload =\n\n\"Urgent! there is a Leak at water heater, Please check. Repeat, there water detected at water heater, URGENT! Leak detected at water heater please check. Urgent! there is a Leak at water heater, Please check. Repeat, there water detected at water heater, URGENT! Leak detected at water heater please check. \"\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1960,"wires":[["d2132f0e.4522a","2fb9420f.e41ffe","f33d4095.ba8cc"]]},{"id":"d2132f0e.4522a","type":"api-call-service","z":"415d010c.3c78","name":"alexa say barb","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":640,"y":1960,"wires":[[]]},{"id":"fce52aa9.c54b68","type":"server-state-changed","z":"415d010c.3c78","name":"leak waterheater","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.waterheater_leak1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":1900,"wires":[["a521e572.1ca5b8","20b76c5d.a0ac34"],[]]},{"id":"20b76c5d.a0ac34","type":"wled2","z":"415d010c.3c78","address":"192.168.2.52","brightness":"255","delay":"60","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"counter","palette":"0","preset":0,"state":"on","x":540,"y":1840,"wires":[["dd75f0dd.16aa9"]]},{"id":"dd75f0dd.16aa9","type":"wled2","z":"415d010c.3c78","address":"192.168.2.37","brightness":"255","delay":"60","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"bathroom","palette":"0","preset":0,"state":"on","x":580,"y":1900,"wires":[[]]},{"id":"f33d4095.ba8cc","type":"api-call-service","z":"415d010c.3c78","name":"alexa say kitchen","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":650,"y":2040,"wires":[[]]},{"id":"2fb9420f.e41ffe","type":"api-call-service","z":"415d010c.3c78","name":"alexa say reese","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_reese_s_echo_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":640,"y":2100,"wires":[[]]},{"id":"3becbf2d.6b04e","type":"function","z":"415d010c.3c78","name":"","func":"msg.payload =\n\n\"Urgent! there is a Leak under sink, Please check. Repeat, there water detected under kitchen sink, URGENT! Leak detected at kitchen sink please check. Urgent! there is a Leak at kitchen sink, Please check. Repeat, there water detected under kitchen sink, URGENT! Leak detected under sink please check. \"\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2280,"wires":[["28b28bf9.bc23e4","20160622.e7acda","b6310692.8d4488"]]},{"id":"28b28bf9.bc23e4","type":"api-call-service","z":"415d010c.3c78","name":"alexa say barb","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":640,"y":2280,"wires":[[]]},{"id":"cd9563bd.c9283","type":"server-state-changed","z":"415d010c.3c78","name":"leak 2","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_sensor_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":2220,"wires":[["3becbf2d.6b04e","ee133a16.7b2ea8"],[]]},{"id":"ee133a16.7b2ea8","type":"wled2","z":"415d010c.3c78","address":"192.168.2.52","brightness":"255","delay":"60","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"counter","palette":"0","preset":0,"state":"on","x":520,"y":2160,"wires":[["df06c5f9.221488"]]},{"id":"df06c5f9.221488","type":"wled2","z":"415d010c.3c78","address":"192.168.2.37","brightness":"255","delay":"60","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"bathroom","palette":"0","preset":0,"state":"on","x":560,"y":2220,"wires":[[]]},{"id":"20160622.e7acda","type":"api-call-service","z":"415d010c.3c78","name":"alexa say kitchen","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":660,"y":2360,"wires":[[]]},{"id":"b6310692.8d4488","type":"api-call-service","z":"415d010c.3c78","name":"alexa say reese","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_reese_s_echo_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":640,"y":2420,"wires":[[]]},{"id":"78a6dbf40b41c527","type":"server-state-changed","z":"415d010c.3c78","name":"quite please","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.settle_down","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":3520,"wires":[["30ab8e7363097157","5afdad6aa34853fe","62e8fd4b87b623e6","5393eb7798793bc0"],[]]},{"id":"b2bc16c37243a19a","type":"comment","z":"415d010c.3c78","name":"tell alexa tell reese to be quite ","info":"","x":180,"y":3420,"wires":[]},{"id":"4d66a9b8403ceea5","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":3600,"wires":[[]]},{"id":"b434296ce91a9e9c","type":"api-call-service","z":"415d010c.3c78","name":"turn off input","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.settle_down","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":3600,"wires":[[]]},{"id":"30ab8e7363097157","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":3600,"wires":[["b434296ce91a9e9c"]]},{"id":"41c8a346ea76e1fb","type":"api-call-service","z":"415d010c.3c78","name":"alexa say reese","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_carlene_s_echo_dot","entityId":"","data":"{\"message\":\"Reese it time to quite down, you are being a bit loud, I love you!\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":500,"y":3480,"wires":[[]]},{"id":"5afdad6aa34853fe","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":3480,"wires":[["41c8a346ea76e1fb"]]},{"id":"62e8fd4b87b623e6","type":"api-call-service","z":"415d010c.3c78","name":"flash reese light","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.flash_reese_room","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":3540,"wires":[[]]},{"id":"5637f4ba72abd6eb","type":"api-call-service","z":"415d010c.3c78","name":"turn off input","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.flash_reese_room","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":3660,"wires":[[]]},{"id":"5393eb7798793bc0","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":3660,"wires":[["5637f4ba72abd6eb"]]},{"id":"cc111831302e27b0","type":"inject","z":"415d010c.3c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":3460,"wires":[["5637f4ba72abd6eb"]]},{"id":"5f05b0db04eaa7e5","type":"inject","z":"415d010c.3c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":300,"wires":[["2331a489bbec97c2"]]},{"id":"2331a489bbec97c2","type":"function","z":"415d010c.3c78","name":"","func":"msg.payload =\n\n\"Good night Barbara your phone is \"+\n\"{{states.sensor.sm_g973u_battery_state.state}}\"+ \", \" +\n\n\"The battery is \"+\n\"{{states.sensor.sm_g973u_battery_level.state}} percent\"+ \", \" +\n\n\"front of house lights are \"+\n\"{{states.group.front_of_house.state}} \"+ \", \" +\n\n\"Out side temp is \"+\n\"{{states.sensor.patioth_am2301_temperature.state}} Degrees\"+ \", \" +\n\n\"pellets in stove is at \"+\n\"{{states.sensor.pellet_level_in_percent.state}} percent\"+ \", \" +\n\n\"tomorrows weather will be \"+\n\"{{states.weather.barb_s_place_2.state}}\"+ \", \" +\n\n\"chance of thunder storm \"+\n\"{{states.sensor.barb_s_place_thunderstorm_probability_day_1d.state}}Percent \"+ \", \" +\n\n\"have a good night, sleep well \"\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["662b571fdcfefe3b"]]},{"id":"662b571fdcfefe3b","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":520,"y":160,"wires":[[]]},{"id":"fc17a8273ed806cf","type":"server-state-changed","z":"415d010c.3c78","name":"bed light off","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bed_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":140,"wires":[["1412b72557b7fb8a"],[]]},{"id":"1412b72557b7fb8a","type":"time-range-switch","z":"415d010c.3c78","name":"","lat":"","lon":"","startTime":"22:30","endTime":"01:30","startOffset":0,"endOffset":0,"x":170,"y":220,"wires":[["2331a489bbec97c2"],[]]},{"id":"588f0382735639a7","type":"function","z":"415d010c.3c78","name":"","func":"msg.payload =\n\n\"Have you taken your night meds Rodney? \"\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":220,"wires":[["946bddf018febdad"]]},{"id":"946bddf018febdad","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":300,"wires":[[]]},{"id":"cb12f93309723fb5","type":"server-state-changed","z":"415d010c.3c78","name":"tv on is take meds ","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":770,"y":180,"wires":[["8bab2b5c56274274"],[]]},{"id":"8bab2b5c56274274","type":"time-range-switch","z":"415d010c.3c78","name":"","lat":"","lon":"","startTime":"18:00","endTime":"20:30","startOffset":0,"endOffset":0,"x":770,"y":260,"wires":[["6dd98db2a1dcdaf2"],[]]},{"id":"6dd98db2a1dcdaf2","type":"api-current-state","z":"415d010c.3c78","name":"is rod there","server":"ceea5ac5.1b1658","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.rod_barbs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":220,"wires":[["588f0382735639a7"],[]]},{"id":"715914490f44b1cf","type":"comment","z":"415d010c.3c78","name":"bed time rundown of house and weather.","info":"","x":250,"y":80,"wires":[]},{"id":"d8f22a1181e025e6","type":"comment","z":"415d010c.3c78","name":"bed time take meds","info":"","x":850,"y":120,"wires":[]},{"id":"0788a7fba28ab5af","type":"comment","z":"415d010c.3c78","name":"dinner time ","info":"","x":123,"y":1229,"wires":[]},{"id":"a5884e9ef00ff31c","type":"server-state-changed","z":"415d010c.3c78","name":"tv time","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tv_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":440,"wires":[["77a117eafef33d19","a1f277f5a0c06f24","07f8ad518250a8de"],[]]},{"id":"77a117eafef33d19","type":"api-call-service","z":"415d010c.3c78","name":"light","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.our_bedroom_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":420,"wires":[[]]},{"id":"f50d55db5e62018e","type":"api-call-service","z":"415d010c.3c78","name":"bed light","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":480,"wires":[[]]},{"id":"7ea0dc1624edaa0b","type":"api-call-service","z":"415d010c.3c78","name":"turn off input","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tv_time","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":540,"wires":[[]]},{"id":"a1f277f5a0c06f24","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":140,"y":520,"wires":[["7ea0dc1624edaa0b"]]},{"id":"9f4e825e648f9d53","type":"comment","z":"415d010c.3c78","name":"input_boolean.tv_time click on for notes","info":"input_boolean.tv_time so we can tell alexa to turn on tv time","x":190,"y":380,"wires":[]},{"id":"4825c6f043dc824b","type":"comment","z":"415d010c.3c78","name":"Reset boolean.tv_time back to off","info":"pause then reset boolean back to off ","x":530,"y":540,"wires":[]},{"id":"2a1db4ccb90a334d","type":"comment","z":"415d010c.3c78","name":"turn off over head light turn off LED","info":"turn on Over head light and turn off BED LED","x":680,"y":440,"wires":[]},{"id":"07f8ad518250a8de","type":"api-current-state","z":"415d010c.3c78","name":"is light on?","server":"ceea5ac5.1b1658","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bed_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":330,"y":480,"wires":[[],["f50d55db5e62018e"]]},{"id":"494eaee3560f391f","type":"comment","z":"415d010c.3c78","name":"random love notes when tv paused at night.","info":"","x":1010,"y":3660,"wires":[]},{"id":"73ee42992451a773","type":"api-call-service","z":"415d010c.3c78","name":"turn off lights","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light, switch.driveway_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":640,"wires":[[]]},{"id":"847063cb0a3a345b","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":510,"y":640,"wires":[["73ee42992451a773"]]},{"id":"7a1ade4a8dc1a69a","type":"server-state-changed","z":"415d010c.3c78","name":"pellet level","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pellet_level_in_percent","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":660,"wires":[["670c4f79929fdbdf"]]},{"id":"b22ae380783b71b2","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":920,"wires":[[]]},{"id":"42c15e5686fb04cb","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":880,"wires":[[]]},{"id":"1cbf88476f747e3a","type":"switch","z":"415d010c.3c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10","vt":"num","v2":"28","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":700,"wires":[["04af5a22a4c7d6c5"]]},{"id":"670c4f79929fdbdf","type":"range-for","z":"415d010c.3c78","name":"","above":"","below":"28","for":"5","units":"min","continuous":false,"x":250,"y":720,"wires":[["1cbf88476f747e3a"],[]]},{"id":"652bc6bb03f30273","type":"inject","z":"415d010c.3c78","name":"31","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"31","payloadType":"num","x":90,"y":840,"wires":[["670c4f79929fdbdf"]]},{"id":"04af5a22a4c7d6c5","type":"time-range-switch","z":"415d010c.3c78","name":"","lat":"","lon":"","startTime":"09:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":510,"y":780,"wires":[["2c2962f6d2edef4a"],[]]},{"id":"0c5e8fafdc7e58ba","type":"api-call-service","z":"415d010c.3c78","name":"turn off boolean","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.pellets_low","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":1100,"wires":[[]]},{"id":"2c2962f6d2edef4a","type":"api-call-service","z":"415d010c.3c78","name":"input need pellets on","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.pellets_low","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":700,"wires":[[]]},{"id":"abdd0395567afc67","type":"switch","z":"415d010c.3c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1040,"wires":[["0c5e8fafdc7e58ba"]]},{"id":"02a1378e0095390d","type":"range-for","z":"415d010c.3c78","name":"","above":"30","below":"","for":"1","units":"hr","continuous":false,"x":190,"y":1080,"wires":[["abdd0395567afc67"],[]]},{"id":"d7e94f38a38d7d2d","type":"server-state-changed","z":"415d010c.3c78","name":"pellet level full turn off","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pellet_level_in_percent","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1000,"wires":[["02a1378e0095390d"]]},{"id":"0eea536ecfdd7512","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_carlene_s_echo_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":960,"wires":[[]]},{"id":"dc387af8e1aabc19","type":"server-state-changed","z":"415d010c.3c78","name":"need pellets message on","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.pellets_low","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":940,"wires":[["7e97ef5037aeaf35"],[]]},{"id":"7e97ef5037aeaf35","type":"function","z":"415d010c.3c78","name":"random message","func":"var line1 = [\"Heya anyone there?, \", \"Yo People of the house, \", \"Hello You yes you, \", \"howdy-do house guest, \"]\nvar line2 = [\n        \"The pellet stove \", \"the heater \", \"the thing that keep you toasty \", \"The furnace \", \"The pellet stove \"\n        ]\nvar line3 = [\n        \"wanted you to know  \",\n        \"Asked me to tell you  \",\n        \"Told me to pass along to you  \",\n        \"Ordered me to tell you  \",\n        \"Shared with me  \"\n        ]\nvar line4 = [\n        \"its hopper hungry, \", \"Its time to fill with Pellets, \", \" it needs stove chow, \", \" the hopper is low , \"\n        ]\nvar line5 = [\n        \"pellets now or cold later.\", \"time for a 40 pound workout.\", \"dont go to bed cold.\", \"I know I am annoying you \"\n        ]\nmsg.payload =\n\nline1[Math.floor(Math.random() * line1.length)]+\nline2[Math.floor(Math.random() * line2.length)]+\nline3[Math.floor(Math.random() * line3.length)]+\nline4[Math.floor(Math.random() * line4.length)]+\nline5[Math.floor(Math.random() * line4.length)]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":900,"wires":[["42c15e5686fb04cb","b22ae380783b71b2","0eea536ecfdd7512"]]},{"id":"565801e003286c72","type":"comment","z":"415d010c.3c78","name":"pellet stove needs pelles","info":"","x":310,"y":620,"wires":[]},{"id":"0432618bf3e312c4","type":"server-state-changed","z":"415d010c.3c78","name":"kitchen timer expired","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.timer_expired","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":1580,"wires":[["64342ef188930222"],[]]},{"id":"bdf4c84232fe7c0f","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":470,"y":1540,"wires":[["296d86a34c4e5eda"]]},{"id":"296d86a34c4e5eda","type":"api-call-service","z":"415d010c.3c78","name":"turn off boolean","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.timer_expired","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":1580,"wires":[[]]},{"id":"64342ef188930222","type":"wled2","z":"415d010c.3c78","address":"192.168.2.52","brightness":"255","delay":"15","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"counter","palette":"0","preset":0,"state":"on","x":330,"y":1600,"wires":[["bdf4c84232fe7c0f"]]},{"id":"d234a36042dc94c7","type":"inject","z":"415d010c.3c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1660,"wires":[["64342ef188930222"]]},{"id":"0f6a7874c1567412","type":"server-state-changed","z":"415d010c.3c78","name":"","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.counter_led","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":400,"y":1660,"wires":[["6fcbc290eb794db2"],["22991df24b1b4bb0"]]},{"id":"6fcbc290eb794db2","type":"wled2","z":"415d010c.3c78","address":"192.168.2.52","brightness":"255","delay":"0","color1":"#fcfcfc","color2":"#ffffff","color3":"#ffffff","effect":"83","effectIntensity":"255","effectSpeed":"255","name":"counter on ","palette":"5","preset":0,"state":"on","x":730,"y":1640,"wires":[[]]},{"id":"22991df24b1b4bb0","type":"api-call-service","z":"415d010c.3c78","name":"counter off","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.counter","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1680,"wires":[[]]},{"id":"c6fb8953ae28d69d","type":"comment","z":"415d010c.3c78","name":"alexa timer expired ","info":"","x":160,"y":1540,"wires":[]},{"id":"2c764a2f683a8fc6","type":"comment","z":"415d010c.3c78","name":"water leak sensors ","info":"","x":290,"y":2040,"wires":[]},{"id":"7634cb45b20a8dd6","type":"inject","z":"415d010c.3c78","name":"inject test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2960,"wires":[["ef1b8545de52eb92"]]},{"id":"271807563c6aa693","type":"server-state-changed","z":"415d010c.3c78","name":"rod home","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.rod_barbs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":2680,"wires":[["1ae46198e069d260"],[]]},{"id":"1ae46198e069d260","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":2680,"wires":[["010aafd61f7b7ef9"]]},{"id":"1451868e5e6d74bc","type":"comment","z":"415d010c.3c78","name":"wait for life360 to update HA","info":"delay sometimes location is updated slow or picked my up as home if im just driving by driveway and  for Life360 location to update HA . \nsometimes it takes a few minutes. ","x":360,"y":2640,"wires":[]},{"id":"15a916f46eba5199","type":"comment","z":"415d010c.3c78","name":"inject for testing and geting debug info","info":"","x":270,"y":2820,"wires":[]},{"id":"354abff9a3086c8a","type":"api-call-service","z":"415d010c.3c78","name":"turn on garage and driveway lights","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.driveway_light, switch.garage_light, switch.patio_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":2700,"wires":[["7a296232954ccc8e"]]},{"id":"3032a7230681a404","type":"api-call-service","z":"415d010c.3c78","name":"turn off lights","server":"ceea5ac5.1b1658","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light, switch.driveway_light, switch.patio_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":2780,"wires":[[]]},{"id":"7a296232954ccc8e","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":550,"y":2780,"wires":[["3032a7230681a404"]]},{"id":"ea6be0ecac97f610","type":"server-state-changed","z":"415d010c.3c78","name":"barb home","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.barb_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":2780,"wires":[["1ae46198e069d260","eb2a3dd9afb73e60"],[]]},{"id":"010aafd61f7b7ef9","type":"time-range-switch","z":"415d010c.3c78","name":"night","lat":"37.212537","lon":"-119.681740","startTime":"goldenHour","endTime":"goldenHourEnd","startOffset":0,"endOffset":0,"x":390,"y":2740,"wires":[["354abff9a3086c8a"],[]]},{"id":"ee94cf905c2cf2a8","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_mom_s_room","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":2900,"wires":[[]]},{"id":"ef1b8545de52eb92","type":"function","z":"415d010c.3c78","name":"Random love notes","func":"var line1 = [\"Heya Barb, \", \"Hello Master, \", \"Yo Babrara, \", \"howdy-do Barbara, \"]\nvar line2 = [\n        \"welcome Home, \", \"Welcome home, \", \"welcome Home, \", \"welcome Home, \", \"welcome Home \"\n        ]\nvar line3 = [\n        \"Hope you had a good time away  \", \"I have been keeping an Eye on your home, \", \"I have missed you, \", \"the cat missed you, \", \"its been lonely without you, \"\n        ]\nvar line4 = [\n        \"I am here to assist you, \", \"just let me know if you need me, \", \" I have been so bored with out you, \", \" your wish is my command, \"\n        ]\nvar line5 = [\n        \"did you get your phone out of car? \", \"did you forget anything from car? \", \"check pellets in stove \", \"I know, I am annoying \"\n        ]\n\nmsg.payload =\n\nline1[Math.floor(Math.random() * line1.length)]+\nline2[Math.floor(Math.random() * line2.length)]+\nline3[Math.floor(Math.random() * line3.length)]+\nline4[Math.floor(Math.random() * line4.length)]+\nline5[Math.floor(Math.random() * line5.length)]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":2980,"wires":[["ee94cf905c2cf2a8","aef4d8e363049897"]]},{"id":"eb2a3dd9afb73e60","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":340,"y":2920,"wires":[["ef1b8545de52eb92"]]},{"id":"aef4d8e363049897","type":"api-call-service","z":"415d010c.3c78","name":"alexa say ","server":"ceea5ac5.1b1658","version":3,"debugenabled":true,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":620,"y":3020,"wires":[[]]},{"id":"1639c208d2343f7c","type":"server-state-changed","z":"415d010c.3c78","name":"reese home","server":"ceea5ac5.1b1658","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reese_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":2740,"wires":[["1ae46198e069d260"],[]]},{"id":"07d659255074df96","type":"comment","z":"415d010c.3c78","name":"getting home lights on and welcome home ","info":"","x":340,"y":2580,"wires":[]},{"id":"ceea5ac5.1b1658","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]