TV-time
[{"id":"415d010c.3c78","type":"tab","label":"TV time and ALL living rooms off. ","disabled":false,"info":""},{"id":"4b30316f.41b7e","type":"server-state-changed","z":"415d010c.3c78","name":"all lights","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.all_living_room_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["b299a24d.563b"],["7160f453.1ad40c"]]},{"id":"b299a24d.563b","type":"api-call-service","z":"415d010c.3c78","name":"turn on all lights","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.living_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":80,"wires":[[]]},{"id":"7160f453.1ad40c","type":"api-call-service","z":"415d010c.3c78","name":"turn off all lights","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.living_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":120,"wires":[[]]},{"id":"7e78902a.1c1f","type":"server-state-changed","z":"415d010c.3c78","name":"tv time","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tv_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":55,"y":259,"wires":[["dbc86ca5.4f79c","eea4de26.d5704","623795af.8c0dac"],[]]},{"id":"dbc86ca5.4f79c","type":"api-call-service","z":"415d010c.3c78","name":"light","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.our_bedroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":260,"wires":[[]]},{"id":"eea4de26.d5704","type":"api-call-service","z":"415d010c.3c78","name":"bed light","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":360,"wires":[[]]},{"id":"b49b7720.a25a78","type":"debug","z":"415d010c.3c78","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":480,"wires":[]},{"id":"c9a3bda7.58fe7","type":"inject","z":"415d010c.3c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/5 21-23 * * 1,2,3,0","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":115,"y":419,"wires":[["bf8638eb.423938"]]},{"id":"b3edc21d.5ed23","type":"api-call-service","z":"415d010c.3c78","name":"turn off input","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tv_time","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":300,"wires":[[]]},{"id":"623795af.8c0dac","type":"delay","z":"415d010c.3c78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":320,"wires":[["b3edc21d.5ed23"]]},{"id":"bf8638eb.423938","type":"api-current-state","z":"415d010c.3c78","name":"roku to PLAY turn switch to TV time","server":"ceea5ac5.1b1658","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.roku_6325ad123378","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":520,"wires":[["dbc86ca5.4f79c","eea4de26.d5704","b49b7720.a25a78"],[]]},{"id":"3b44028e.3f09ee","type":"comment","z":"415d010c.3c78","name":"input_boolean.tv_time click on for notes","info":"input_boolean.tv_time so we can tell alexa to turn on tv time","x":150,"y":220,"wires":[]},{"id":"ec4d286e.79e768","type":"comment","z":"415d010c.3c78","name":"Reset boolean.tv_time back to off","info":"pause then reset boolean back to off ","x":150,"y":360,"wires":[]},{"id":"29e5c506.e5db6a","type":"comment","z":"415d010c.3c78","name":"turn off over head light turn off LED","info":"turn on Over head light and turn off BED LED","x":560,"y":320,"wires":[]},{"id":"ba243337.d2a74","type":"comment","z":"415d010c.3c78","name":"time stamp to start checking  Click for notes","info":"only run when ROD is home at at normal TV time. ","x":230,"y":460,"wires":[]},{"id":"80fcfe28.e0dc9","type":"comment","z":"415d010c.3c78","name":"debug to extract Data from Roku","info":"msg : Object\nobject\n_msgid: \"2c3583eb.54c18c\"\n **payload: \"playing\"**","x":530,"y":520,"wires":[]},{"id":"845efa3f.3f42d8","type":"comment","z":"415d010c.3c78","name":"tell alexa turn off living room lights","info":"","x":160,"y":40,"wires":[]},{"id":"ceea5ac5.1b1658","type":"server","z":"","name":"Home Assistant","addon":true}]
