washing done random message
[{"id":"cb021d0b.311b8","type":"server-state-changed","z":"4f8c8070.3f206","name":"input on","server":"ceea5ac5.1b1658","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.washer_done","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":80,"wires":[["1ae57ca1.88cc73","f4ec5560.d4fd38"],[]]},{"id":"95409684.c28048","type":"api-call-service","z":"4f8c8070.3f206","name":"alexa say barb","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_moms_room_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":835,"y":65,"wires":[[]]},{"id":"38e91406.5f29fc","type":"function","z":"4f8c8070.3f206","name":"random message","func":"var line1 = [\"Heya anyone there?, \", \"Yo People of the house, \", \"Hello You yes you, \", \"howdy-do house guest, \"]\nvar line2 = [\n        \"The Washer \", \"the Maytag man \", \"the Washing contraption \", \"The laundry mat \", \"The Cloathing Washer \"\n        ]\nvar line3 = [\n        \"wanted you to know  \",\n        \"Asked me to tell you  \",\n        \"Told me to pass along to you  \",\n        \"Ordered me to tell you  \",\n        \"Shared with me  \"\n        ]\nvar line4 = [\n        \"Your delicates are done, \", \"It is time to switch laundry, \", \" your clothes are clean, \", \" the washer is done , \"\n        ]\nvar line5 = [\n        \"Laundry today or Naked tomorow.\", \"The dryer is waiting for you.\", \"Dont forget to clean the lent trap.\", \"I know I am annoying you \"\n        ]\nmsg.payload =\n\nline1[Math.floor(Math.random() * line1.length)]+\nline2[Math.floor(Math.random() * line2.length)]+\nline3[Math.floor(Math.random() * line3.length)]+\nline4[Math.floor(Math.random() * line4.length)]+\nline5[Math.floor(Math.random() * line4.length)]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":180,"wires":[["95409684.c28048","a903a970.7e0888","49d127da.453798"]]},{"id":"1ae57ca1.88cc73","type":"wled2","z":"4f8c8070.3f206","address":"192.168.2.52","brightness":"255","delay":"30","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"counter","palette":"0","preset":0,"state":"on","x":520,"y":40,"wires":[["bff6090c.625478"]]},{"id":"a903a970.7e0888","type":"api-call-service","z":"4f8c8070.3f206","name":"alexa say kitchen","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_kitchen_echo_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":220,"wires":[[]]},{"id":"49d127da.453798","type":"api-call-service","z":"4f8c8070.3f206","name":"alexa say reese","server":"ceea5ac5.1b1658","version":1,"debugenabled":true,"service_domain":"notify","service":"alexa_media_carlene_s_echo_dot","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":280,"wires":[[]]},{"id":"f4ec5560.d4fd38","type":"delay","z":"4f8c8070.3f206","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":160,"wires":[["bc7467e1.05ea18"]]},{"id":"bc7467e1.05ea18","type":"api-call-service","z":"4f8c8070.3f206","name":"turn off boolean","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.washer_done","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":200,"wires":[[]]},{"id":"bff6090c.625478","type":"wled2","z":"4f8c8070.3f206","address":"192.168.2.37","brightness":"255","delay":"30","color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":"48","effectIntensity":"175","effectSpeed":"186","name":"bathroom","palette":"0","preset":0,"state":"on","x":560,"y":100,"wires":[["38e91406.5f29fc"]]},{"id":"3ee7b7ee.bbf108","type":"api-call-service","z":"4f8c8070.3f206","name":"turn on notification","server":"ceea5ac5.1b1658","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.patio_heater_on_for_a_hour","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":380,"wires":[[]]},{"id":"ceea5ac5.1b1658","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
